.loading-dots {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.loading-dots span {
  background-color: currentColor;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.8;
  animation: dots-animation 1.4s infinite ease-in-out both;
}

.loading-dots-small span {
  width: 4px;
  height: 4px;
}

.loading-dots-medium span {
  width: 6px;
  height: 6px;
}

.loading-dots-large span {
  width: 8px;
  height: 8px;
}

.loading-dots span:nth-child(1) {
  animation-delay: -0.32s;
}

.loading-dots span:nth-child(2) {
  animation-delay: -0.16s;
}

@keyframes dots-animation {

  0%,
  80%,
  100% {
    transform: scale(0);
  }

  40% {
    transform: scale(1);
  }
}